<configuration>
  <system.webServer>
 	<handlers>
		<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
	</handlers>
	<rewrite>
		<rules>
			<rule name="myapp">
				<match url="/*" />
				<action type="Rewrite" url="app.js" />
			</rule>
			</rules>
			</rewrite>
				<iisnode devErrorsEnabled="true" debuggingEnabled="true" loggingEnabled="false" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
  </system.webServer>
</configuration>